USE [master]
GO
/****** Object:  Database [IdentidadeDB]    Script Date: 02/09/2025 02:11:46 ******/
CREATE DATABASE [IdentidadeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IdentidadeDB', FILENAME = N'/var/opt/mssql/data/IdentidadeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IdentidadeDB_log', FILENAME = N'/var/opt/mssql/data/IdentidadeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IdentidadeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IdentidadeDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/09/2025 02:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/09/2025 02:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [uniqueidentifier] NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[TipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250902043934_InitialCreate', N'9.0.8')
GO
INSERT [dbo].[Usuarios] ([Id], [Login], [Nome], [TipoUsuario]) VALUES (N'e1368db4-5140-4cf3-21ce-08dde9db09b7', N'everton.medeiros.job@gmail.com', N'Everton Medeiros', 6)
INSERT [dbo].[Usuarios] ([Id], [Login], [Nome], [TipoUsuario]) VALUES (N'6555e82d-ba81-4eba-21cf-08dde9db09b7', N'joao.medeiros@gmail.com', N'João Medeiros', 3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Login]    Script Date: 02/09/2025 02:11:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuarios_Login] ON [dbo].[Usuarios]
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
