USE [master]
GO
/****** Object:  Database [ContratacaoDB]    Script Date: 02/09/2025 02:10:32 ******/
CREATE DATABASE [ContratacaoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContratacaoDB', FILENAME = N'/var/opt/mssql/data/ContratacaoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ContratacaoDB_log', FILENAME = N'/var/opt/mssql/data/ContratacaoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContratacaoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContratacaoDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/09/2025 02:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contratacoes]    Script Date: 02/09/2025 02:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contratacoes](
	[Id] [uniqueidentifier] NOT NULL,
	[PropostaId] [uniqueidentifier] NOT NULL,
	[ContratenteId] [uniqueidentifier] NOT NULL,
	[DataContratacao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Contratacoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250902043819_InitialCreate', N'9.0.8')
GO
INSERT [dbo].[Contratacoes] ([Id], [PropostaId], [ContratenteId], [DataContratacao]) VALUES (N'4c6738a4-ba52-4eb3-a1c5-08dde9dc4e74', N'aea8dbd4-df3d-4af1-ff14-08dde9db9737', N'6555e82d-ba81-4eba-21cf-08dde9db09b7', CAST(N'2025-09-02T04:50:57.0498130' AS DateTime2))
GO
USE [master]
GO
