USE [master]
GO
/****** Object:  Database [PropostaDB]    Script Date: 02/09/2025 02:08:41 ******/
CREATE DATABASE [PropostaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PropostaDB', FILENAME = N'/var/opt/mssql/data/PropostaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PropostaDB_log', FILENAME = N'/var/opt/mssql/data/PropostaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PropostaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PropostaDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/09/2025 02:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propostas]    Script Date: 02/09/2025 02:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propostas](
	[Id] [uniqueidentifier] NOT NULL,
	[NumeroProposta] [int] NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Descricao] [nvarchar](1000) NOT NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[CriadoPorUsuarioId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Propostas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250902043142_InitialCreate', N'9.0.8')
GO
INSERT [dbo].[Propostas] ([Id], [NumeroProposta], [Titulo], [Descricao], [DataCriacao], [Status], [CriadoPorUsuarioId]) VALUES (N'aea8dbd4-df3d-4af1-ff14-08dde9db9737', 3, N'Seguro Basic', N'Seguro Básico', CAST(N'2025-09-02T01:45:50.0428577' AS DateTime2), 10, N'e1368db4-5140-4cf3-21ce-08dde9db09b7')
GO
/****** Object:  Index [IX_Propostas_NumeroProposta]    Script Date: 02/09/2025 02:08:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Propostas_NumeroProposta] ON [dbo].[Propostas]
(
	[NumeroProposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
